.env
__pycache__/
*.pyc
README.md
profiles.json
PROJECT_OVERVIEW.md
temp_profile.pkl
trading_bot_test.log
config/telegram_admins.json
config/auth.json
config/profiles.json
data/last_buy_price_XRPUSDT.json
logs/system.log
logs/trading.log
logs/trading-test.log
binance_trading_bot_code_audit.md
logs/trading.log
